{% extends 'dash/layout.html' %}

{% block content %}
 <div class="row">
            <div class="col-md-12">

            </div>
            <div class="col-lg-6 ">
            <h3 class="text-center"><a href="#" > StubHub </a></h3>

                <ul>
                    {% for seat in seats_s %}
                        <li>
                            section <span class="label label-info">{{ seat.section }}</span>,
                            row  <span class="label label-success">{{ seat.row }}</span>,
                            price <span class="label label-danger">{{ seat.price }}</span>
                        </li>
                    {% endfor %}
                </ul>

            </div>

            <div class="col-lg-6">
            <h3 class="text-center"><a href="#"> TicketMaster</a></h3>
                <ul>
                    {% for seat in seats_t %}
                         <li>
                            section <span class="label label-info">{{ seat.section }}</span>,
                            row  <span class="label label-success">{{ seat.row }}</span>,
                            price <span class="label label-danger">{{ seat.price }}</span>
                        </li>
                    {% endfor %}
                </ul>



            </div>



{#            <div class="col-lg-12 text-center">#}
{#                <h1>A Bootstrap Starter Template</h1>#}
{#                <p class="lead">Complete with pre-defined file paths that you won't have to change!!</p>#}
{#                <ul class="list-unstyled">#}
{#                    <li>Bootstrap v3.3.7</li>#}
{#                    <li>jQuery v1.11.1</li>#}
{#                </ul>#}
{#            </div>#}
        </div>
{% endblock %}