{% extends 'dash/layout.html' %}
{% block content %}
    <div class="row">

    <div class="col-md-12">

        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Search"/>
        </form>
        </div>

    </div>

    <div class="row {% if nxt %}{% else %}hidden{% endif %}">


    <div class="col-md-12">
        <form action="/comparison/" method="post">
            {% csrf_token %}
            <div class="col-md-6">
                <h4> StubHub</h4>

                {% for result in results.a %}

                    <input type="radio" name="event_s" value="{{ result.id }}" checked>

                    <a href="https://www.stubhub.com/{{ result.url }}">{{ result.name }}</a>
                    {{ result.date }} {{ result.time }}
                    {{ result.venue }}
                    <br>

                {% endfor %}


            </div>
            <div class="col-md-6">
                <h4> TicketMaster</h4>
                {% for result in results.b %}

                    <input type="radio" name="event_t" value="{{ result.id }}" checked>

                    <a href="{{ result.url }}">{{ result.name }}</a>
                    {{ result.date }} {{ result.time }}
                    {{ result.venue }}
                    <br>

                {% endfor %}
            </div>

            <div class="col-md-12">

                <input type="submit" value="View Prices"/>
            </div>


        </form>
        </div>

    </div>
{% endblock %}